<!DOCTYPE html>
<html>
<head>
    <title>KnightGame</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="./style/main.css"/>
</head>
<body>
    <script src="bower_components/angular/angular.js"></script>

        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="src/app.js"></script>
        <script src="src/knightGame/knightGame.js"></script>
        <script src="src/knightGame/knight.js"></script>
        <script src="src/knightGame/linearStrategy.js"></script>

        <div ng-app="app">
            <div ng-controller="AppCtrl">
                <h1 class="text-center">KnightGame</h1>
                <div class="text-center">
                    <a class="btn btn-default"
                       ng-class="{'btn-success': knightGame.getConfig().strategy.finished}"
                       ng-click="knightGame.makeTurn()"
                       ng-disabled="knightGame.getConfig().strategy.finished">
                        <span ng-if="!knightGame.getConfig().strategy.finished">Turn</span>
                        <span ng-if="knightGame.getConfig().strategy.finished">Finished</span>
                    </a>
                </div>
                <div class="circle-container">

                    <li ng-repeat="knight in knightGame.knights"
                        class="circle-container-item"
                        style="-webkit-transform: rotate({{degs[$index]}}deg) translate(12em) rotate(-{{degs[$index]}}deg)">
                        <knight obj="knight"
                                status="{current: knight === knightGame.getConfig().strategy.current,
                                next: knight === knightGame.getConfig().strategy.next}">
                        </knight>



                    </li>
                </div>
            </div>
        </div>
</body>
</html>